@import "mixins/normalize.scss";

html, body{
  background: #fffaf3;
  color: #333;
  font-family: 'Maven Pro', sans-serif;
  font-size: 18px;
  line-height: 150%;
}

h1, h2, h3, h4, .currency, .number{
  font-family: 'Playfair Display', serif;
  font-weight: bold;
}

h1{
  font-size: 3.5rem;
  line-height: 4.5rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2.5rem;
  line-height: 3rem;
}

h4{
  font-size: 2rem;
  line-height: 2.5rem;
}

a{
  color: #888;

  &:hover{
    opacity: .6;
  }
}

header{
  img{
    border-radius: 30px;
    display: block;
    height: 60px;
    margin: 2rem auto;
    width: 60px;
  }

  h1{
    margin: 0 auto;
    padding: 0;
    text-align: center;
  }

  h2{
    margin: 2rem auto;
    text-align: center;
  }

  p{
    color: #888;
    margin: 3rem auto;
    padding: 0 1rem;
  }
}

.section{
  padding: 2rem;

  h3{
    margin: 0 0 2rem;
    padding: 0;
  }
}

#finance{
  background-color: #fff6d2;

  .column{

    ul{
      list-style-type: none;
      margin: 0 0 3rem;
      padding: 0;

      li{
        display: flex;
        font-size: .8rem;
        list-style-type: none;
        margin: 0 0 1rem;
        padding: 0;

        .icon{
          span{
            display: inline-block;
            font-weight: 900;
            height: 20px;
            line-height: 18px;
            margin: 0 .5rem 0 0;
            text-align: center;
            width: 20px;
          }
        }
      }
    }
  }

  .sum{
    border-bottom: 1px solid #eadb9e;
    border-top: 1px solid #eadb9e;
    font-size: 1.2rem;
    margin: 2rem 1rem 2rem 0;
    padding: 1rem 0 1rem 0;
  }

  #column--expense{
    ul{
      li{
        .minus{
          background: #e10101;
          border-radius: 15px;
          color: #fff;
        }
      }
    }
  }

  #column--income{
    ul{
      li{
        .plus{
          background: #07bb77;
          border-radius: 15px;
          color: #fff;
        }
      }
    }
  }

  #column--domains{
    ul{
      li{
        display: block;
      }
    }
  }
}

.columns{
  
  margin: 0 auto;
  max-width: 960px;

  .column{
    flex: 1;
  }
}

.product-cards{
  .card{
    background: #0e0c3c;
    box-shadow: 0 0 40px rgba(0, 0, 0, .4);
    color: #fff;
    margin: 0 auto 2rem;
    padding: 1rem 1.5rem 1rem 1rem;
    position: relative;
    z-index: 2;

    h4{
      font-size: 1.5rem;
      margin: 0;
      padding: 0;
    }

    &::before{
      border: 2px solid cyan;
      box-sizing: border-box;
      content: "";
      display: block;
      height: 100%;
      left: -0.5rem;
      position: absolute;
      top: -0.5rem;
      width: 100%;
      z-index: -1;
    }

    &__header{
      border-bottom: 1px solid #211d7d;
      padding: 0 0 1rem 0;
    }

    &__footer{
      border-top: 1px solid #211d7d;
      padding: 1rem 0;

      a{
        color: #fff;
        display: block;
        font-size: .8rem;
        text-align: center;
        text-decoration: none;
      }
    }

    &--creativedevjobs{
      background: #fff000;
      color: #333;

      &::before{
        border: 2px solid #931438;
      }

      .card__header{
        border-bottom: 1px solid #e6d806;
      }

      .card__footer{
        border-top: 1px solid #e6d806;

        a{
          color: #931438;
        }
      }
    }

    &--twis{
      background: linear-gradient(242.49deg,#5200ff 0,#003cff 100%);

      &::before{
        border: 2px solid #f80bef;
      }
    }

    &--storyview{
      background: #2E1641;

      &::before{
        border: 2px solid #8000FF;
      }

      .card__header{
        border-bottom: 1px solid #100717;
      }

      .card__footer{
        border-top: 1px solid #100717;
      }
    }

    &--makergoals{
      background: linear-gradient(145deg,#00b27f 0,#00825d 100%);

      &::before{
        border: 2px solid #fff;
      }

      .card__header{
        border-bottom: 1px solid #21886b;
      }

      .card__footer{
        border-top: 1px solid #21886b;
      }
    }

    &--reproduct{
      background: #2E1641;

      &::before{
        border: 2px solid #AAC6FC;
      }

      .card__header{
        border-bottom: 1px solid #150a1e;
      }

      .card__footer{
        border-top: 1px solid #150a1e;
      }
    }

    &--gifthunt{
      background: #17217B;

      &::before{
        border: 2px solid #09FF97;
      }

      .card__header{
        border-bottom: 1px solid #0A1151;
      }

      .card__footer{
        border-top: 1px solid #0A1151;
      }
    }

    &--discounthunt{
      background: #670CAF;

      &::before{
        border: 2px solid #BF055E;
      }

      .card__header{
        border-bottom: 1px solid #8322d0;
      }

      .card__footer{
        border-top: 1px solid #8322d0;
      }
    }
  }
}

#tech-stack{
  background: #011627;
  color: #D6DEEB;

  a{
    color: #7FDBCA;
  }

  img{
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }
}

#fun{
  background: #f4c407;
}